!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='/stylesheets/prettify.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        !{body}
        div(id='io-footer')
           div(class='f-left') &copy;&nbsp;
              a(href='http://www.cloudspokes.com') CloudSpokes
           div(class='f-right') Powered by&nbsp;
              a(href='https://github.com/mashery/iodocs') I/O Docs&nbsp;
              &amp; iodtemplatecompiler
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='/javascripts/json2.js')
        script(src='/javascripts/prettify.js')
        script(src='/javascripts/utilities.js')
        script(src='/javascripts/livedocs.js')
        script(src='/javascripts/docs.js')
